.img {
    width: 500px;
    height: 400px;
}

.welcome {

    justify-content: space-evenly;
    padding-right: 70px;
    padding-left: 70px;

}

@media only screen and (max-width: 800px) {
    .welcome-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .img {
        width: 300px;
        margin: auto;
    }
}